<script>
export default {
    data() {
        return {
            email: "",
            password:""
        }
    },
    methods: {
        async register() {
            try {
                const user = await this.$axios.post("/register", {
                    email: this.email, 
                    password: this.password
                    })
                console.log("register success");
            } catch (error) {
            console.error(error)
            }
        }
    }
}
</script>

<template>
    <div class="signup">
    <h1 class="signup1">Registo</h1>
    <br><br><br><br>
    
    <input v-model="email" name="email" type="text" placeholder="Email*" class="username"/>
    
    <input v-model="password" name="password" type="password" placeholder="Password*" class="username"/>
    
    <button @click="register" class="btn">Registar</button>
    </div>
</template>
<style scoped>
    .username{
   font-weight: bold;
   width: 200px;
   margin: 0 35px 20px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
    }
    .btn{
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px ;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #EE9BA3;
    color: white;
    font-size: 14px;
    }
    .signup1{
    color:#748194;
    font-size:30px;
    text-align:center;
    }
    a{
    text-decoration: none;
    }
    .signup2{
    color:#748194;
    font-size:20px;
    text-align:center;
    }
    .signup{
    display:initial;
    }
</style>
