<script>
import { useAuthTokenStore } from '../stores/authToken'
export default {
    data() {
        return {
            email: "",
            password:""
        }
    },
    methods: {
        async login() {
            try {
                const response = await this.$axios.post("/login", {
                    email: this.email, 
                    password: this.password
                    })

                console.log("login success");
                const authTokenStore = useAuthTokenStore()
                authTokenStore.setToken(response.data.token)
                location.reload()
            } catch (error) {
            console.error(error)
            }
        }
    }
}
</script>

<template>
    <div class="signin">
         
         <h1 class="signup1">Login</h1>
         <br><br><br><br>
         <input v-model="email" name="email" type="text" placeholder="Email*" class="username"/>
            
            <input v-model="password" name="password" type="password" placeholder="Password*" class="username"/>
         
         <button @click="login" class="btn">Login</button>
         
         <br><br><br><br>
         <a href=""><p class="signup2">Esqueceu a Password?</p></a>
    </div>
</template>

<style scoped>
    .username{
   font-weight: bold;
   width: 200px;
   margin: 0 35px 20px ;
   height: 35px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
    }
    .btn{
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px ;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #EE9BA3;
    color: white;
    font-size: 14px;
    }
    .signup1{
    color:#748194;
    font-size:30px;
    text-align:center;
    }
    a{
    text-decoration: none;
    }
    .signup2{
    color:#748194;
    font-size:20px;
    text-align:center;
    }

    .signin{
    display:initial;
    }
</style>
