<script>
import { useDark, useToggle } from '@vueuse/core'
import { useProjectStore } from '../stores/project'
const isDark = useDark()
const toggleDark = useToggle(isDark)
export default {
  data() {
    return {
      isLoadingProjects: false,
      isExpanded: true,
      isDarkModeEnabled: false,
      selectedProject: null,
      projects: [],
      projectStore: useProjectStore()
    }
  },
  methods: {
    goToPage(page) {
      this.$router.push(`/home/${page}`)
    },
    isRoute(page) {
      return this.$route.name.startsWith(page)
    },
    toggleDarkMode() {
      this.isDarkModeEnabled = !this.isDarkModeEnabled
      toggleDark(this.isDarkModeEnabled)
    },
    async fetchProjects() {
      if (this.isLoadingProjects) return
      this.isLoadingProjects = true
      try {
        const response = await this.$axios.get('/projects')
        this.projects = response.data
        const selectedProjectId = this.projectStore.selectedProject
        const selectedProjects = this.projects.filter((project) => project.id == selectedProjectId)
        if (selectedProjects.size != 0) {
          this.selectedProject = selectedProjects[0].id
        }
      } catch (error) {
        console.error(error)
      }
      this.isLoadingProjects = false
    },
    handleSelectedProjectChange(projectId) {
      console.log(projectId)
      this.projectStore.setSelectedProject(projectId)
    }
  },
  mounted() {
    this.fetchProjects()
  }
}
</script>
<template>
  <main>
    <nav class="sidebar" :class="{ close: !isExpanded, dark: isDarkModeEnabled }">
      <header>
        <div class="image-text">
          <span class="image">
            <!--<img src="logo.png" alt="">-->
          </span>

          <div class="text logo-text">
            <span class="name">Codinglab</span>
            <span class="profession">Web developer</span>
          </div>
        </div>

        <span @click="isExpanded = !isExpanded" class="toggle">></span>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="text" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li v-if="projectStore.selectedProjectRef" class="nav-link">
              <a @click="goToPage('categories')" :class="{ selected: isRoute('categories') }">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Categorias</span>
              </a>
            </li>

            <li v-if="projectStore.selectedProjectRef" class="nav-link">
              <a @click="goToPage('items')" :class="{ selected: isRoute('items') }">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
                <span class="text nav-text">Items</span>
              </a>
            </li>

            <li class="nav-link">
              <a @click="goToPage('projects')" :class="{ selected: isRoute('projects') }">
                <i class="bx bx-wallet icon"></i>
                <span class="text nav-text">Projetos</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <el-select
                v-model="selectedProject"
                @change="handleSelectedProjectChange"
                placeholder="Projeto"
                size="large"
              >
                <el-option
                  v-for="item in projects"
                  :key="item.value"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </a>
          </li>

          <li class="">
            <a href="#">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div v-if="isExpanded" class="sun-moon">
              <el-icon size="30">
                <Moon v-if="isDarkModeEnabled" />
                <Sunny v-else />
              </el-icon>
            </div>
            <span class="mode-text text">Dark mode</span>

            <div @click="toggleDarkMode" class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>

    <section class="home" :class="{ dark: isDarkModeEnabled }">
      <router-view></router-view>
    </section>
  </main>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
.home.dark,
.sidebar.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}
/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */
.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
html.dark header .toggle {
  color: var(--text-color);
}
.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu {
  margin-top: 40px;
}
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover,
.sidebar li a.selected {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text,
.sidebar li a.selected .icon,
.sidebar li a.selected .text {
  color: var(--sidebar-color);
}
html.dark li a:hover .icon,
html.dark li a:hover .text,
html.dark li a.selected .icon,
html.dark li a.selected .text,
html.dark .mode .sun-moon i {
  color: var(--text-color);
}
.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}
.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}
.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}
html.dark .switch::before {
  left: 20px;
}
.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
  padding-left: 15px;
  padding-right: 15px;
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}
.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
html.dark .home .text {
  color: var(--text-color);
}
</style>
