<script>
import { watch } from 'vue'
import { useProjectStore } from '../stores/project'
const projectStore = useProjectStore()
export default {
  data() {
    return {
      data: {
        name: '',
        categoriesSelected: []
      },
      categories: []
    }
  },
  methods: {
    goToMainPage() {
      this.$router.push('/home/items')
    },

    async fetchCategories() {
      if (this.isLoading) return
      this.isLoading = true
      try {
        const response = await this.$axios.get(
          `/projects/${projectStore.selectedProject}/categories`
        )
        this.categories = response.data
        console.log(this.categories)
      } catch (error) {
        console.error(error)
      }
      this.isLoading = false
    },
    async save() {
      try {
        await this.$axios.post(`/projects/${projectStore.selectedProject}/items`, this.item)
        this.goToMainPage()
      } catch (error) {
        console.error(error)
      }
    }
  },
  computed: {
    item: function () {
      return {
        name: this.data.name
      }
    }
  },
  mounted() {
    this.fetchCategories()
  },
  created() {
    watch(projectStore.selectedProjectRef, async () => {
      this.fetchCategories()
      this.selectedCategories = []
    })
  }
}
</script>
<template>
  <main>
    <el-text class="mx-1" size="large">Adicionar Item</el-text>
    <el-form :model="data" label-width="auto">
      <el-form-item label="Nome">
        <el-input v-model="data.name" />
      </el-form-item>

      <el-form-item label="Categorias">
        <el-checkbox-group v-model="data.categoriesSelected" size="large">
          <el-checkbox-button v-for="category in categories" :key="category" :value="category.id">
            {{ category.name }}
          </el-checkbox-button>
        </el-checkbox-group>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="save">Guardar</el-button>
        <el-button @click="goToMainPage">Cancelar</el-button>
      </el-form-item>
    </el-form>
  </main>
</template>
