<script>
export default {
    data() {
        return {
            projects: [],
            isLoading: false
        }
    },
    methods: {
        async fetchData() {
            if(this.isLoading) return
            this.isLoading = true
            try {
                const response = await this.$axios.get("/projects")
                this.projects = response.data
            } catch (error) {
                console.error(error);
            }
            this.isLoading = false
        },
        goToAdd() {
            this.$router.push('/home/projects/add')
        }
    },
    computed: {
        isBaseRoute() {
            return this.$route.name == "projects";
        }
    },
    updated() {
        this.fetchData()
    },
    mounted() {
        this.fetchData()
    }
}
</script>

<template>
    <main>
        <div class="text">Gerir Projetos</div>
        <el-row :gutter="20">
            <el-col :span="isBaseRoute ? 24 : 12">
                <el-table 
                v-loading="isLoading" 
                :data="projects" 
                emptyText="Sem projetos"
                style="width: 100%">
                    <el-table-column prop="name" label="Name" />
                    <el-table-column align="right">
                        <template #header>
                            <el-button
                            v-if="isBaseRoute"
                            @click="goToAdd" 
                            type="success">Adicionar</el-button>
                        </template>
                        <template #default="">
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
            <el-col :span="isBaseRoute ? 0 : 12">
                <router-view v-if="!isBaseRoute"/>
            </el-col>
        </el-row>
    </main>
</template>
