<script>
export default {
    data() {
        return {
            data: {
                name:""
            }
        }
    },
    methods: {
        goToMainPage() {
            this.$router.push('/home/projects')
        },
        async save() {
            try {
            await this.$axios.post("/projects", this.project)
            this.goToMainPage()
         } catch (error) {
            console.error(error)
         }
        }
    },
    computed: {
        project: function() {
            return {
                name: this.data.name
            }
        }
    }
}
</script>
<template>
    <main>
        <el-text class="mx-1" size="large">Adicionar Projeto</el-text>
        <el-form :model="data" label-width="auto">
            <el-form-item label="Nome">
                <el-input v-model="data.name" />
            </el-form-item>
            <el-form-item>
            <el-button type="primary" @click="save">Guardar</el-button>
            <el-button @click="goToMainPage">Cancelar</el-button>
            </el-form-item>
    </el-form>
    </main>
</template>
